<!Doctype html>
{%load static %}
<html lang="en" dir="litr">
<head>
	<meta charset="utf-8">
	<title>Register Form</title>
	<iframe width="0" height="0" src="" frameborder="0" allowfullscreen></iframe>
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
</head>
<body>
	<form class="box" action="" method='POST'>
        {% csrf_token %}
 <h1>Register</h1>
 {%for field in form %}
 <div>
    <label for="{{field.label}}">{{field.label}}</label> 
    
    {{field}}
    <!--<input id="room_name" name="room_name" type="text" placeholder="E.g. Mastering Python + Django" />-->
</div>
{% endfor %}
 <!--<input type="text" name="first_name" placeholder="First name" required="">
 <input type="text" name="" placeholder="Last name" required="">
 <input type="text" name="email" placeholder="Email" required="">
 <input type="text" name="experience" placeholder="Experience" required="">
 <input type="text" name="profession" placeholder="Profession" required="">
 <input type="text" name="contact" placeholder="Contact No" required="">
 <h3 >Upload Photo:</h3>
 <input type="file" name="f" id="img" placeholder="Photo" accept="image/png,image/jpeg,image/bmp,image/gif" >
 <input type="password" name="password1" placeholder="Password" required="">
 <input type="password" name="password2" placeholder="Retype Password" required="">-->
 <input type="submit" name="" value="Register">
 <!--p style="color:white;"--><!--input type="checkbox" name="" checked ="checked" color="black"-->
 <a href="{%url 'register-user' %}" >SIGN UP (User)</a></p>>  
 <a href="{%url 'login' %}" >LOGIN</a></p>>
</form>
</body>
</html>