




<!Doctype html>
{%load static %}
<html lang="en" dir="litr">
<head>
	<meta charset="utf-8">
	<title>Register Form</title>
	<iframe width="0" height="0" src="" frameborder="0" allowfullscreen></iframe>
	<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
</head>
<body>
	<form action="{% url 'register-prof' %}" method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
           {% for field in form.visible_fields %}
             <div class="form-group">
                 {{ field.label_tag }}
                    {{field}}
                      {% for error in field.errors %}
                        <span style="color:red">{{ error }}</span>
                      {% endfor %}
           {% endfor %}
               <input type="submit" value="Register" class="btn btn-block btn-primary">
             </div>
      </form>
</body>
</html>